<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <title>StormMetrics - About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Hi! I am a programmer from the United Kingdom. I am currently creating projects with Node.js and this is one of them! This is a webserver which is running using the express library for node.js.</p>
            <p>Please explore the site and let me know if there are any improvements I can make! And of course be sure to use the website for what it was made for and look at some weather!</p>
            <p>Want more info or want to check out my other projects? Check out my <a href="https://github.com/JustAnother-Programmer" target="_blank">GitHub</a></p>
            <br>
            <br>
        </div>
        {{>footer}}
    </body>
</html>