<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <title>StormMetrics - Help</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>